body {
    margin: 0 auto;
    
    background-color: #DDD;
    /* border: 1px solid red; */
}

section {
    /* width: 800px; */
    /* margin: 0 auto 0 auto; */
    /* padding: 0 auto; */
}

img {
    width: 450px;
    height: 600px;
    text-align: center;
    margin: auto;
    display: block;
}

h1 {
    /* margin: 0 auto; */
    text-align: center;
    font-size: 30px;
}

header p {
    text-align: center;
    font-size: 20px;
}

h2 {
    text-align: center;
}
div {
    text-align: center;

footer div p {
    text-align: center;
    font-size: 20px;
}
